[2021-12-07 15:30] user753 opened #1 "uniqBy has an incorrect type"
[code]
instead of
[code]

[2021-12-07 18:48] mobily commented on #1
hey @user753 👋 thanks for reporting! it's been fixed in https://github.com/mobily/ts-belt/commit/07cf8138215e4f907daa555932af7d223d36fe02 and published in `v3.0.1`

[2021-12-07 18:48] #1 closed

[2021-12-09 16:40] anthony-khong opened #7 "Questions about common FP functions"
Hi @mobily, the library looks really interesting! I'm quite interested in trying it out for future projects. I just have a couple of questions about certain functions, and I hope this is the right place to ask.

1. How would you do Clojure's `assoc` and `dissoc` with `ts-belt`? Would it have to be `D.merge(m, {k: v})` and `D.rejectWithKey(m, (_, key) => key == k)`?
2. I noticed that `D.xxxWithKey`

[2021-12-09 18:04] mobily commented on #7
hey @anthony-khong 👋 thanks for your questions!

1. that sounds like proper solutions for both, but first I need to look into it
2. actually, you're right! it definitely should be `(key, value)`, don't you mind creating a new PR?
3. that's right, it does the eager evaluation, it iterates through all pairs and then takes the first two elements, and frankly speaking, I don't feel that the lazy evalu

[2021-12-09 23:29] mobily commented on #7
ad 2. it's been fixed and published in `v3.1.1` 🚀

[2021-12-11 09:59] anthony-khong commented on #7
Hi @mobily, thank you very much for the response! And thank you for the patch to address (2)!

Absolutely, I've started looking into this. I realised though a lot of the functions I would love to use are not yet implemented, so I'm thinking of working on that first. If you're open to suggestions, would you accept contributions for Clojure's equivalent of [`assoc`](https://clojuredocs.org/clojure.c

[2021-12-11 16:07] mobily commented on #7
that’s actually a good point in terms of the naming convention, I took the `prop` name directly from `ramda`, however, in ReScript there are [`get`](https://rescript-lang.org/docs/manual/latest/api/js/dict#get) (which returns `Option`) and `getUnsafe` and I would like to stick with this nomenclature, therefore, I've already deprecated `prop` and added `get` and `getUnsafe`, the changes will be rel

[2021-12-12 02:39] anthony-khong commented on #7
I'm happy to change this on my latest PR (#8). Having a set of coherent function names is quite nice.

The experience is okay for now. I can think of a couple of things that may be improved on top of my head:
* Whenever I changed a `.res` file, I would re-run `yarn build`. This takes around 1 minute on my machine, which is quite long to get feedback. Perhaps we could have a minimal-build-and-test

[2021-12-13 10:49] mmiszy opened #10 "`A.uniq`: hasOwnProperty is not a function"
I'm using `A.uniq` on an array of Tuples. Unfortunately, that results in an exception being thrown:

[code]

[2021-12-13 10:50] mmiszy commented on #10
I guess you should be using `Object.prototype.hasOwnProperty.call(b, key)` instead.

[2021-12-13 11:02] mobily commented on #10
@mmiszy 👋 could you provide a simple code example, please?

[2021-12-13 13:21] mmiszy commented on #10
Sure: https://runkit.com/embed/c5nesq8njosj

[2021-12-13 13:31] zoontek opened #11 "Question about Option type guards"
Hi 👋

A belt port in TS is something I've already dreamed of, so thank you!
I tried adding it to our codebase, but think it might have an issue with the `Option` type guards (`isSome` / `isNone`)

On usage with `ts-pattern` (for pattern maching):

[code]

I checked the types of the given function and it confirms the issue:

[code]

Shouldn't it returns `option is T` and `option is never` instead?

[2021-12-13 16:47] mobily commented on #11
hello @zoontek! 👋 thank you for posting the issue, but I think the current types are correct, and let me explain:

[code]

please notice that in your example, `switch` allows extracting `v` from `Some`, so naturally, `v` is `int`

however if you use the `if` statement, like this:

[code]

[link to ReScript try](https://rescript-lang.org/try?code=DYUwLgBAtgngcgV2MAhgI1ANRcBIIC8EAygPZQgAUArAJQBQ9Azg

[2021-12-13 18:00] zoontek commented on #11
I will check a bit longer to see if I can create `ts-pattern` guard, I don't want to lose pattern matching (I think you understand that 😄)
I close this issue, will publish a comment if I find something.

[2021-12-13 18:00] #11 closed

[2021-12-13 18:15] mobily commented on #11
more than you can imagine 😆 I wish to had pattern matching (a real one) in TS

I'm looking forward to it!

[2021-12-13 18:25] zoontek commented on #11
`ts-pattern` is actually really nice. Sure, not as powerful as Ocaml pattern matching but it does the job correctly.

Here it struggles because Option is implemented using an opaque type (as an abstract class)

[2021-12-13 21:54] mobily commented on #11
do you have any suggestions on how to tackle this problem? 🤔 I was using `type Option<T> = Some<T> | None` at the very beginning, I don't remember why I did change that tho

[2021-12-14 10:58] zoontek commented on #11
Currently having:

[code]

Will result in (not a proper guard):

<img width="525" alt="Screenshot 2021-12-14 at 11 38 16" src="https://user-images.githubusercontent.com/1902323/145982757-f43e75e6-2e3f-4995-bcb4-e36ec6d534a9.png">

To create proper guards, you can "unwrap" values, like this:

[code]

But it's tedious to use with pattern matching and nested structures:

[code]

[2021-12-14 18:22] mobily commented on #10
`Object.prototype.hasOwnProperty.call(b, key)` this did a trick, thanks! fixed and published in `v3.4.0` 🚀

[2021-12-14 18:22] #10 closed

[2021-12-14 18:38] mobily commented on #7
👋 hey again @anthony-khong!

I did some changes to improve this process, so basically, for development purposes, you can use the following commands:

[code]

⬆️ this command will build a single module (in this case `Dict`) and run `set` tests

[code]

⬆️ this command will be helpful if you change tests only

[2021-12-20 15:26] anthony-khong commented on #7
Hi @mobily, I'd just like to get your thoughts on something. I'm thinking about implementing `setIn`, `getIn` and `updateIn`. In particular, `getIn(obj, ['a', 'b', 'c'])` would be equivalent to `obj.a.b.c`. I believe the legit way of doing the types here is to go the lenses way, as discussed [here](https://forum.rescript-lang.org/t/implementing-getin-in-rescript-recursively-navigate-nested-objects

[2021-12-21 12:38] zoontek commented on #11
Unfortunately, it seems that TS pattern patching can't handle generic type guards for now 😞
I guess that you are not interested in loosening the `Option` type to be:

[code]

Which would be logical, as it allows interop with the rest of the TS ecosystem and does not guarantee `ts-belt` usage.
…But could also be logical since this behaviour is possible some modules of `ts-belt` too:

[code]

[2021-12-23 16:04] flauwekeul opened #15 "Lenses"
Hi! Great work with this library 👍

Are there any plans for adding functions related to lenses? Such as [`lensProp`](https://ramdajs.com/docs/#lensProp) from Ramda.js?

[2021-12-23 16:57] mobily commented on #15
hello @flauwekeul 👋 it would be nice to have lenses in `ts-belt`, but at this point, there is no plan for adding them, I would need to do some research on how to implement them properly in TS

[2021-12-24 08:37] flauwekeul commented on #15
Do you add new functionality to ts-belt by compiling it from rescript and generating the types? I suppose that explains the performance.

[2021-12-24 09:11] mobily commented on #15
that’s right! all functions are written in ReScript and compiled to raw JavaScript, I also use some codemods to transform generated files (see: https://github.com/mobily/ts-belt/tree/master/tools/javascript-codemods) in the pre- and post-building process
as well as I use [`genType`](https://rescript-lang.org/docs/gentype/latest/introduction) for automatically generating TS types (although, more ad

[2021-12-24 18:39] flauwekeul commented on #15
Is adding lens functions then as easy as taking the leading lens lib in rescript and compile it to js (probably not :sweat_smile: )?

[2021-12-24 18:56] flauwekeul opened #17 "Value first pipe"
Hi! I'm confused about `pipe` accepting a value first. Unless I'm missing something, you can't create a point-free (tacit) function.

With a `pipe` that takes the value last (as in most, if not all implementations), you can do this:

[code]

I think this is very clean. With a `pipe` that takes the value as it's first argument, you always have to "wrap" the composition in a function:

[code]

Makin

[2021-12-25 09:07] mobily commented on #15
it's not 🙈 I did the initial research on this topic yesterday, it seems there's no type-safe and easy way to implement it in ReScript (as well as in TS), so it's unlikely it will be a part of `ts-belt` in the near future

I'm closing this issue, if you have any further questions or suggestions, please leave a comment 🚀

[2021-12-25 09:07] #15 closed

[2021-12-25 09:45] mobily commented on #17
no, you’re actually not missing anything :)

I take your point and fully agree this is a very clean solution, but on the other hand most of the time it requires defining types manually, which is not developer-friendly and was much problematic in Ramda (if you use Ramda in TS), and basically I wanted to avoid this, for instance:

[code]

with the current implementation, you only need to define a ty

[2021-12-25 10:49] flauwekeul commented on #17
Thanks for explaining. I didn't take into account that TS is the limiting factor here. Also, I see that [fp-ts' `pipe`](https://gcanti.github.io/fp-ts/modules/function.ts.html#pipe) has the same signature, probably for the same reason. However, fp-ts also has the [`flow`](https://gcanti.github.io/fp-ts/modules/function.ts.html#flow) util. I haven't used it yet, but maybe they figured out a way to

[2021-12-25 18:05] mittnavnermike opened #18 "Possible to import one function at a time? (✨ Feature request)"
Love your lib! Though I'd share one of my thoughts. Didn't see anything about this in the docs. Sorry if I'm reraising a question.

As a person with bundle phobia, it would be nice if I could only import the functions that I need. To my understanding, the current way of importing is to import the whole function set for a given type i.e array. `import { A } from '@mobily/ts-belt'`

What about somet

[2021-12-25 21:25] mobily commented on #18
hello @mittnavnermike 👋 all `ts-belt` functions are tree-shakeable in the modern bundlers (webpack, rollup, parcel) even if you import the entire function set like the current recommended approach:

[code]
I have already double-checked this by adding `ts-belt` in the following "benchmark" locally: https://github.com/mischnic/tree-shaking-example (esbuild on the other hand generates a much bigger b

[2021-12-25 22:30] mobily commented on #17
thanks for sharing the link! ❤️ good news, the initial implementation of `flow` in `ts-belt` looks really promising, and I think it will be included in the next version

[2021-12-26 09:53] mobily commented on #17
@flauwekeul added and published in [`v3.6.0`](https://github.com/mobily/ts-belt/releases/tag/v3.6.0) 🚀

[2021-12-26 09:53] #17 closed

[2021-12-28 23:42] redbar0n opened #19 "funkia/list compatibility?"
1. Could ts-belt be used with https://github.com/funkia/list ?

2. [List's benchmarks are quite impressive](https://funkia.github.io/list/benchmarks/). Would like to see a comparison with ts-belt for the operations they share, like `map`. Or compare ts-belt with Ramda + List, since List was designed to [seamlessly integrate with Ramda](https://github.com/funkia/list#seamless-ramda-integration).

3

[2021-12-28 23:47] redbar0n commented on #19
3. If ts-belt integrated List, then the integration could even be seamless to the user...:

[code]

So the user could use normal JS arrays. I'm sure the under-the-hood conversion could be done only for arrays of a certain size, but then I imagine the performance improvements could be substantial.

[2021-12-29 01:13] mobily commented on #19
hey @redbar0n 👋

yes, you can use the `list` package with `ts-belt`

[code]

I have added here https://github.com/mobily/ts-belt/blob/master/benchmarks/complex/map-filter-reduce.js a new benchmark (combination of Ramda + List)

[code]

the benchmark results:

[code]

For a single function call (`L.map(fn, listInput)`), `list` is as fast as `rambda` and `ts-belt`.

hm, I don't see any benefits, cou

[2021-12-29 10:21] redbar0n commented on #19
Awesome! Thanks! See my latest post above with the details on how `ts-belt` potentially could benefit from `List`.

I'm not sure the Ramda benchmark there used the Ramda+List integration.

Maybe you could try this?

[code]

[2021-12-29 11:41] mobily commented on #19
ok, I have added `funkia/list` to the benchmark suites here https://github.com/mobily/ts-belt/commit/d3fd667c9278893198661afa3bb7958858d0b235, the latest results:

[code]

[2021-12-29 13:08] mobily commented on #19
@redbar0n according to the benchmark results I posted above, I'm not quite sure if there are any performance improvements (by the way, you can run benchmarks locally: https://mobily.github.io/ts-belt/benchmarks/introduction#how-to-run-benchmarks)

ts-belt has been built with TypeScript in mind, all `Array` utility functions return read-only arrays, and avoiding mutations and using read-only arrays

[2021-12-29 13:46] redbar0n commented on #19
awesome! I would rename it to "funkia/list + ramda", since it's using the ramda pipe.

That's weird.. since [List's own benchmarks](https://funkia.github.io/list/benchmarks/) show tremendous performance improvements over Ramda... Maybe @paldepind could explain?

ok, if using `funkia/list` with `ts-belt` doesn't mean any performance improvement like I speculated it would, then it is probably not wo

[2021-12-29 14:17] paldepind commented on #19
Hi @redbar0n. Thanks for the question. From what I can see above the benchmarks only test `map`, `filter`, and `reduce`. These operations are not the most interesting to benchmark as they all are going to have `O(n)` complexity and for such operations arrays and cons-lists/singly-linked lists are going to be the fastest due to lower constants.

Compared to arrays you get performance benefits with

[2021-12-30 10:32] mittnavnermike commented on #18
Thank you for a very detailed answer! I'll try your approach

[2021-12-30 10:32] #18 closed

[2022-01-02 23:10] mobily commented on #11
@zoontek the `Option` type is now `type Option<T> = T | undefined | null`, this change has been published in `v3.8.0` 🚀 thanks for your all valuable suggestions, I really appreciate that! ❤️

[2022-01-15 12:53] mobily commented on #19
thanks for the detailed explanation @paldepind 🚀 to sum up:
- `ts-belt` is compatible with `funkia/list`
- use `funkia/list` if you want to achieve high performance when dealing with really large lists, for instance: adding at the head, getting the tail, splitting, and so on will be faster, but if you need to randomly access an item `funkia/list` will be slower

[2022-01-15 12:53] #19 closed

[2022-01-23 07:02] Darkle opened #24 "Curry? (feature request)"
Hi, I think it would be good to have a curry function in the function api if possible.

Cheers.

[2022-01-29 22:34] bryanjswift opened #25 "Make `A.partition` types aware of type guards"
It would be a lovely addition if `partition` were aware of type guard functions. Something like this

[code]

I thought it might be sufficient to drop this in https://github.com/mobily/ts-belt/blob/master/src/Array/Array.ts but I'm not confident enough to open it as a PR without being able to test locally and the tooling for this project is new to me so I couldn't afford to invest the time in gett

[2022-02-17 08:07] mobily commented on #25
fully agree, I will look into it! 🚀

[2022-02-17 08:12] mobily commented on #24
thanks for the suggestion ❤️ I will take this into consideration in the future, however, at this point, due to weak type inference in TS I’m not planning to implement currying

[2022-02-17 08:12] #24 closed

[2022-02-17 08:14] mobily commented on #7
this is related to #25, I will let you know once I figure it out

[2022-03-06 11:44] mobily commented on #25
@bryanjswift fixed in `v3.9.1` 🚀

- types: https://github.com/mobily/ts-belt/blob/6d8a02c74c19ef2e0cc3afc20d66d02dad55f34a/src/Array/index.ts#L443
- tests: https://github.com/mobily/ts-belt/blob/master/__tests__/Array/partition.test.ts
- changelog: https://mobily.github.io/ts-belt/docs/changelog

[2022-03-06 11:44] #25 closed

[2022-03-13 05:12] Darkle opened #26 "Try/catch utility? (feature request)"
Hi, previous to ts-belt I had been using the pratica library which had this really neat try/catch utility called [encase](https://github.com/rametta/pratica#encase) that was particularly handy for JSON parsing. It'd be cool if ts-belt had something like that too. 😎

[2022-03-13 16:18] mobily commented on #26
@Darkle this is an excellent idea! but here's the thing, I'm wondering what type the `tryCatch` function should return? I see two options:

1. the first option is straightforward, we add `tryCatch` to the `F` namespace (so it is `F.tryCatch`), and it always returns the `Result` data type

[code]

usage:

[code]

the upside of this option is that having a single `tryCatch` function might be less co

[2022-03-13 21:25] Darkle commented on #26
I think 1 is the better choice. But it would probably be good to remind people in the docs for `tryCatch` that they can convert the `Result` to an `Option` with `R.toOption`.

[2022-03-13 21:38] mobily commented on #26
sounds reasonable! I already have an initial implementation, so this will be published in `v3.10.0` this week 🚀

[2022-03-15 16:25] mobily commented on #26
@Darkle published in `v3.10.0`

- docs: https://mobily.github.io/ts-belt/api/function/#trycatch
- changelog: https://mobily.github.io/ts-belt/docs/changelog#v3100

[2022-03-15 16:25] #26 closed

[2022-03-25 07:47] leviathan-n opened #27 "A qustion about ReadOnly"
Thanks for your work on this awesome library
I'm trying to replace lodash with this in my project, but not sure whether i'm using this library in a idiomatic way

sometimes components only accept mutable types, is it a right practice that manually converting result to un-readonly type by using `as` keyword?
for example
[code]
when i pass a `A.map` output to the columns prop, tsc complaint that:

a

[2022-03-31 23:08] TClark1011 opened #28 "Docs should clarify on depth of object-related functions"
I think it would be helpful if the API documentation would give clarification on whether or not functions such as `F.equals` or `D.merge` are either shallow or deep. We can work this out by looking at the source code, but this shouldn't be necessary and annoying if you don't know rescript.

[2022-04-14 02:55] TClark1011 commented on #28
Another one to include could be the comparison performed in `A.includes`

[2022-04-29 13:48] Nodonisko commented on #27
This causing me lot of issues too, consider this example:

[code]

and this produce same error as mentioned `The type 'readonly ["foo", "bar"]' is 'readonly' and cannot be assigned to the mutable type '("foo" | "bar")[]'`

I really like this library but this is causing my lot of problems. Is really necessary for type to be mutable? I think it should work without any issue for `readonly` since lib

[2022-04-30 15:36] mobily commented on #27
@leviathan-n `ts-belt` is using immutable arrays by default and frankly speaking, this is a common problem, I have added a possibility for using either immutable or mutable arrays

to use mutable arrays in the entire project, simply add the following in your `global.d.ts`:

[code]

although you may still want to use immutable arrays (which is a recommended approach), then starting from `v3.11.0` y

[2022-04-30 15:36] #27 closed

[2022-05-04 11:12] Nodonisko commented on #27
@mobily Wow, thank you a lot! That significantly improves my DX :)

[2022-05-06 09:33] leviathan-n opened #29 "Looks like parameters type definition of `F.defaultTo` should be swapped"
[code]
but the type definition is that
[code]
version: 3.11.0

[2022-05-24 05:12] Darkle opened #30 "F.when/unless different return type to input type?"
Hi, I have a use case where I would like to use `F.when`, but have the return type be different to the type going in to the function. At the moment the return type for `F.when` and `F.unless` can only be the input type.

The context here is creating a document in a mongodb database and first checking to see if the document already exists. If it exists (checked via `MyModel.exists()`), a document o

[2022-05-25 22:16] jrolfs commented on #28
It seems from looking at the source as a ReScript noob that `D.merge` is, in fact, shallow?

[2022-06-02 21:11] eckertalex opened #31 "Unsafely select keys from an object"
How can I select just a subset of keys from an object?

Consider this example in an express app. I want to validate the `body`, `params`, and `query` and want to use ts-belt to select just those three from the request. Is there a way to do this with ts-belt? Maybe a `unsafeSelectKeys`?

[code]

Thanks for the help!

[2022-06-03 23:58] dessalines opened #32 "Does the Option types support deserialization for an API?"
I'd like to use these Option types in an API, IE currently an interface might be:

[code]

Would this be supported?

[2022-06-05 12:25] mobily commented on #29
oops, sorry, clearly my mistake 🙈 fixed in [`v3.12.0`](https://github.com/mobily/ts-belt/releases/tag/v3.12.0)

[2022-06-05 12:25] #29 closed

[2022-06-05 12:31] mobily commented on #30
hm, in this specific case, I'd use a different approach:

[code]

in terms of `F.when` and `F.unless` usage, both TS signatures have been updated in [`v3.12.0`](https://github.com/mobily/ts-belt/releases/tag/v3.12.0), and now it's possible to return a different type

[2022-06-05 12:31] #30 closed

[2022-06-05 12:35] mobily commented on #32
as far as I understand this issue correctly, it is possible, since under the hood `Option<T>` is `T | null | undefined`

feel free to reopen this issue if you need more clarification

[2022-06-05 12:35] #32 closed

[2022-06-05 12:36] mobily commented on #31
@eckertalex sounds like a great idea, do you have any suggestion on how to tackle TS signature of `D.unsafeSelectKeys`?

[2022-06-05 12:39] mobily commented on #28
@jrolfs `D.merge` uses `Object.assign` under the hood :)

[2022-06-09 07:24] z81 opened #33 "Incorrect types D.toPairs"
![image](https://user-images.githubusercontent.com/2899598/172789176-ac19d059-8b84-42e1-bfb2-5fe47da4c040.png)

https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgQQDRwPLoCLoHLpjBgCmcAvnAGZQQhwDkAAiBAEbAA2AngPQwBnALRsSnGAwBQkmN1JwAKnAC8iOAG0A1iW4AuOAJhRgAOwDmAXX1ItO-YePmrcEwFcQoqBQrSAxhBNDOAATfSVVBEk4OABDazi4AEZyVCi4Nnj9ZNTo30yk8klCySJSAAo04Jy4bAA6GAgABRjgKAFq5FqQGLAysttudAA3GM5XEgsAShUAPj

[2022-06-10 10:29] eckertalex commented on #31
I have been thinking about it the last couple of days and I am not sure if it is possible to have the correct typings if the keys exist and unknown if it.

In pseudo Typescript maybe something like this?

[code]

Basically the type of the `keys` would be either a key of `T` or `unknown`. But I think that way we would not have the correct return type?

[2022-06-10 19:18] jrolfs commented on #28
Hehe, yep that was my conclusion — would you be open to adding a `deepMerge` implementation? I've been considering switching some projects over from Ramda and it would make the switch more compelling ;)

[2022-06-14 14:21] thelinuxlich commented on #26
This won't handle promises/async right?

[2022-06-16 07:16] ahmaddynugroho opened #34 "Example Code on Array Docs Gives a Warning"
Link: https://mobily.github.io/ts-belt/api/array
node: v18.2.0
typescript: 4.7.3
tsserver: 0.11.1
tsconfig.json: i follow this https://mobily.github.io/ts-belt/docs/getting-started/config

I just tried the code from the array doc and it gives a warning like this:
![image](https://user-images.githubusercontent.com/55732199/174012215-46c7af2e-5748-4867-827c-5c3ba7980f30.png)

the code runs fine, but

[2022-06-18 03:18] jsec opened #36 "Support for asynchronous operations"
Hey there, loving the library thus far.

I was wondering if `pipe` and `flow` support async functions without needing to wrap them in an IIFE. Purify supports this via their `MaybeAsync` and `EitherAsync` wrappers, and I believe Ramda also supports this via the `composeWith` and `pipeWith` functions.

I'm currently evaluating replacing Ramda with either this library or Purify, but to reduce the am

[2022-06-20 06:36] ahmaddynugroho commented on #34
i just removed the Option handling and change `A.tail` to `A.tailOrEmpty` and the code runs fine and no warning. So, i propose that the docs should use `A.tailOrEmpty` because it returns `Array<A>` instead of `Option<Array<A>>`

[2022-06-25 10:10] mobily commented on #34
@ahmaddynugroho thanks, good catch! 👀 (fixed)

[2022-06-25 10:10] #34 closed

[2022-07-12 03:14] TClark1011 opened #37 "S.prepend function"
It would be nice if there was a function to prepend one string to another. There is already `S.concat`, so it seems like there may as well be `S.prepend`

[2022-07-22 14:28] martisj opened #38 "How would you convert a regular ol' event handler to use ts-belts magical 🌈 functional approach?"
example event handler in React:
[code]

With `eslint-plugin-functional/lite` rules I get the following errors:
- Parameter should be a read only type
- Function must return a value

[2022-07-29 02:09] nghiepit opened #39 "[Feature Request] `createPipe` Creates a data-last pipe function."
Creates a data-last pipe function. First function must be always annotated. Other functions are automatically inferred.

`R.createPipe(op1, op2, op3)(data)`

[code]

[2022-07-29 06:30] mobily commented on #39
@nghiepit `createPipe` is named `flow` in `ts-belt` and it's here → https://mobily.github.io/ts-belt/api/pipe-flow#flow :)

[2022-07-29 06:30] #39 closed

[2022-07-30 13:41] mobily commented on #37
added in [`v3.13.0`](https://github.com/mobily/ts-belt/releases/tag/v3.13.0) 🚀

docs: https://mobily.github.io/ts-belt/api/string#prepend

[2022-07-30 13:41] #37 closed

[2022-07-30 13:42] mobily commented on #33
thanks for posting this issue! fixed in [`v3.13.0`](https://github.com/mobily/ts-belt/releases/tag/v3.13.0)

[2022-07-30 13:42] #33 closed

[2022-07-30 17:41] mobily commented on #38
@martisj here is my developer-friendly `eslint` config (at least to me) :)

[code]

(simply adjust your `eslint` config to your needs, you don't have to use all "recommended" rules)

[2022-07-30 17:41] #38 closed

[2022-08-06 00:10] WidgetKing commented on #36
+1 from me.

My personal preference for this would be a third kind of monad. A ts-belt equivalent of fp-ts's TaskEither would plug what at least to me feels like a major hole.

[2022-08-06 00:17] WidgetKing opened #40 "Sequence and Traverse"
Hello!

First of all, thank you very much for building ts-belt. It has really attacked what I thought was the biggest problem with fp-ts, namely, bad documentation and incomprehensible errors.

Two functions that I've seen in almost every fp library are `Sequence` and `Traverse`. I've found whenever I work with Options and Results that I invariably end up reaching for these functions. However, I c

[2022-08-13 09:45] mrwizard82d1 opened #41 "A.range documentation error?"
Thanks for producing this library.

I'm new to TypeScript and somewhat new to functional programming, but this library seems to have what I would like to see in a functional programming library.

The documentation for `A.range` states "Returns a new array of numbers from start (inclusive) to finish (exclusive)." However, it actually appears to *include* the upper bound. Here is the text from a Nod

[2022-08-25 10:18] alexn-s commented on #36
i just looked for alternatives for fp-ts and about 1/3 of my code is async (playwright, puppeteer, ...) and i need a TaskEither equivalent. sadly purify-ts does not have compose/ flow/ pipe functions but async support. a mix between ts-belt and purify would be quite awesome.

besides that i really like ts-belt. it is intuitive and not as cumbersome & overkill as fp-ts

[2022-08-25 14:21] alexn-s opened #42 "chain operator for Result (like fp-ts Either.chain)"
i wanted to chain multiple Results in a pipe & noticed that there is not a chain operator.

can it be done with something else in this lib or did i miss something?
i am grateful for help

[2022-08-25 17:59] alexn-s commented on #42
perhaps something like this:

[code]

[2022-08-25 21:06] mobily commented on #42
@alexn-s [`flatMap`](https://mobily.github.io/ts-belt/api/result#flatmap) is what you're looking for :)

[2022-08-25 21:06] #42 closed

[2022-08-26 15:31] mobily commented on #41
@mrwizard82d1 thanks for posting this issue, the implementation is ok, and certainly the error was in the documentation, fixed in https://github.com/mobily/ts-belt/commit/726840a8a5bb709be1d5dc4ff5df7585d7726053!

[2022-08-26 15:31] #41 closed

[2022-08-26 17:50] mobily commented on #36
@jsec @WidgetKing @alexn-s hey there! 👋 this is definitely on my roadmap, sneak peek: I'm currently working on three following modules:
- Async (equivalent to `fp-ts` Task)
- AsyncResult (TaskEither)
- AsyncData

all of them will be published in one of the subsequent releases (it takes a vast amount of time to adjust ReScript to TS in this particular case tho)

[2022-08-27 18:46] mobily commented on #7
closing, `updateIn/setIn/getIn` functions have been added to my TODO list, but they have a minor priority at the moment :)

[2022-08-27 18:46] #7 closed

[2022-08-29 08:16] leohxj commented on #24
Purify have [`curry` but no `pipe/flow`](https://gigobyte.github.io//utils/Function#export-curry. ) they said:

ts-belt have `pipe/flow` but no `curry`.

Maybe purify fix the weak type in TS, Can we implement a same one?

[2022-09-06 06:01] jayesh-bhoot opened #43 "TypeScript doesn't use the name of the type while inferring return type"
For a function

[code]

the return type is inferred as

![Screenshot from 2022-09-06 11-28-03](https://user-images.githubusercontent.com/1915507/188558223-89b6817c-0efb-41b3-b83c-48391d24d2ff.png)

which is technically true, but I would have preferred the inferred type to be the same as that of `R.fromPredicate()`

![Screenshot from 2022-09-06 11-29-40](https://user-images.githubusercontent.com/19

[2022-09-06 14:32] mobily commented on #43
@jayesh-bhoot I assume that something is wrong on your side, on my end the type is inferred and narrowed correctly:

<img width="866" alt="CleanShot 2022-09-06 at 16 29 09@2x" src="https://user-images.githubusercontent.com/1467712/188661648-5e89f80b-5429-4d39-9cac-27581cce9319.png">

<img width="561" alt="CleanShot 2022-09-06 at 16 29 28@2x" src="https://user-images.githubusercontent.com/1467712/1

[2022-09-07 00:30] kee-oth opened #44 "Feature request: Object Copying"
Hi!

Is a `D.copy` function planned?

Thanks!

[2022-09-07 08:20] mobily commented on #44
@kee-oth do you mean deep copy or shallow copy? if shallow then you can use `D.merge`: https://mobily.github.io/ts-belt/api/object#merge

[2022-09-08 04:52] jayesh-bhoot commented on #43
You are right. This problem shows up on IntelliJ WebStorm, but not on Visual Studio Code.

[2022-09-08 04:52] #43 closed

[2022-09-08 05:28] jayesh-bhoot commented on #43
Tracking the issue at https://youtrack.jetbrains.com/issue/WEB-57226/Type-sometimes-isnt-inferred-correctly-The-type-hint-shows-the-structure-of-the-type-instead-of-its-name

[2022-09-20 15:49] rodrigofariow opened #45 "Feature request: sortByMultiple"
Hi there! :)

I was looking for something like lodash's `sortBy` with multiple accessors, e.g:

[code]

**Why?**
I know this could be implemented using the existing `A.sortBy` function but after 2 accessors it becomes tedious and prone to error. Lodash implementation might also not be the fastest possible.

Would something like `sortByMultiple` be on the roadmap for ts-belt?

Api suggestion:
[code

[2022-09-22 16:17] Nodonisko opened #46 "D.keys type is correct for object with numeric indexes"
`D.keys` type is incorrect:

[code]

This will print `[ '1', '2' ]` but type for `keys` is `readonly (1 | 2)[]` which is wrong because it shouldn't be numbers but strings: `readonly ('1' | '2')[]`

[2022-09-22 16:36] Nodonisko commented on #46
It's probably related to this https://github.com/microsoft/TypeScript/issues/39543

[2022-09-24 07:54] #46 closed

[2022-10-15 12:38] user753 opened #48 "Why does groupBy return Partial Record?"
What is the usage case for this Partial type? Could it just return Record?

[2022-10-16 08:09] mobily commented on #48
@user753 that's actually a good question and I don't really remember 😅 but I feel the `Partial` type might be redundant, I will look into it

[2022-10-16 09:20] stychu commented on #36
How long till this will be published ?👌

[2022-10-18 06:07] khaiquangnguyen opened #49 "Import into typescript project whose option module:nodenext doesn't work"
First of all, I want to say that I really like ts-belt utilities and really wanted to make it work with my current project.

-----------------------------------------------------------------------------------------------------------------
[code]

Issue:
- When import into a project whose `module:nodenext`, ts-belt is resolved as a esm module and redirected to `dist/esm` folder. However, the files

[2022-10-19 05:56] mobily commented on #49
hello @khaiquangnguyen 👋 could you provide a reproduction repo?

[2022-10-21 19:05] mobily commented on #36
@stychu I suppose it will be published by the end of this month, the implementation of all `Async` modules is done (tested internally on a mid-sized project), and at the moment I'm working on a brand new documentation site :) sorry, that you need to wait for a new version so long!

[2022-10-21 19:07] mobily commented on #44
@kee-oth not sure, what's the purpose of `D.copy`, since all `ts-belt` functions return immutable data

[2022-10-22 13:07] WidgetKing commented on #36
Thanks for the update @mobily! And thank you for all the time and effort you put into this library.
Take your time. We know good things come to those who wait.

[2022-10-23 18:53] khaiquangnguyen commented on #49
Sure.
https://github.com/khaiquangnguyen/tsbelt-nodenext
Here is it.
`npm run build` and then `npm run start` to see the error.
So after a couple of testings, it only have issues with `nodenext` module. both `esnext` and `node16` seems to work fine.  This is a bit of an edge case but official node and typescript have recommended `nodenext` as the path forward, so i think we should try to support t

[2022-10-30 23:22] tgillus commented on #49
I ran into the same issue today when using `ts-belt` with ESM and TypeScript. I haven't been able to find a workaround yet.

[2022-11-02 13:42] araera111 opened #50 "VSCODE pipe -> O.map -> O.getWithDefault Function -> ts2345 error is displayed."
I use VSCode.

in my environment, after using the map function of type option, use the getWithDefault function of type option. Then the ts(2345) error is displayed.

[code]

but

[code]
and

[code]

mytsconfig
[code]
typescript: 4.8.4
node: 16.18.0

use tsc command -> ts2345 error is NOT displayed.

[2022-11-02 19:53] mobily opened #51 "✨ Introducing `ts-belt` v4 (release candidate)"
hello there! 👋

I have been working on the new version of ts-belt with support for `Async*` modules for a quite long time, and now I feel it's a great time to publish (at least) a `release candidate` version. It's also an excellent opportunity to gather feedback from you :) The bad news is, the docs for these modules are missing at the moment (I'm working on it!), but let me describe the essential

[2022-11-02 19:54] mobily commented on #50
@araera111 please install `@mobily/ts-belt@next` and let me know if that solves your issue :)

[2022-11-02 19:55] mobily commented on #48
@user753 fixed in `v4.0.0-rc.0` (you can install it with the `next` tag, `yarn add @mobily/ts-belt@next`

[2022-11-02 19:59] mobily commented on #36
@stychu @alexn-s @jsec @WidgetKing
I suggest reading the following issue: https://github.com/mobily/ts-belt/issues/51 still working on the docs, nevertheless, I feel the next version is ready for wider testing 🚀

[2022-11-02 23:48] araera111 commented on #50
Solved! Very very very thank you .

[2022-11-02 23:48] #50 closed

[2022-11-06 20:01] alexn-s commented on #51
looks really good, i was just getting back to ts-belt and have a lot of async code. 💖

[2022-11-13 17:29] icetbr opened #52 "Cannot use import statement outside a module"
**Steps**
- locally with node v17.9.1 and in a just created docker container with node 16.7.0
-  `npm init`
- add `"type": "module"` to package.json
- create a `a.js` file with just `import * as Belt from '@mobily/ts-belt'`
- node a.js

[code]

[2022-11-14 10:58] lulldev commented on #51
How about alternative `match/with` from ts-pattern out of box? something like `fold` but for handling all or each states?

[2022-11-14 12:55] Nodonisko commented on #51
Looks good, but I am starting to get lest in all that shortcuts `AD`, `ADR`, `AO`... Did you thinked about shipping also "non-shortcut" version of these?

[2022-11-14 17:50] mobily commented on #52
@icetbr could you provide a repro repo?

[2022-11-14 18:01] mobily commented on #51
@alexn-s the constructor of the `AsyncResult` variant is named: `AR.make`, you use it like the following:

[code]

@lulldev that sounds like a great idea, I will add it to `AsyncData` and `AsyncDataResult` for sure!

@Nodonisko yes, I hear you, and totally agree, I was against adding full namespace names due to the conflict with native namespaces, however, I feel like this might be a good alternat

[2022-11-14 19:17] icetbr commented on #52
https://github.com/icetbr/tsbelt-bug-example

[2022-11-15 11:52] lulldev commented on #51
@mobily can i help with release candidate and contribute?

[2022-11-15 12:18] mobily commented on #51
@lulldev sure thing, that would be awesome! do you need anything from me to get started?

[2022-11-16 07:53] lulldev commented on #51
@mobily yes. i want to know more about flow for contributors. What exactly can I help to do and where is the list of what is left for the release candidate?

[2022-11-19 00:56] stychu opened #53 "Implementation Question"
Could not find discussion panel nor any discord/slack/anything channel for any Q&A.
Let me know if there is a better place to ask questions regarding ts-belt.
I'm kinda new to FP in general and I can't shift my usual non FP thinking.

Is there anyway that I can tackle this with FP/ts-belt??

Scenario: Need to find position (index+1) where the sum of values equals to -1
Example data :
 - [1,1,-1,1,

[2022-11-19 09:23] mobily commented on #53
@stychu your solution looks absolutely fine, beyond using mutable values :) in this specific case, I would use the following approach:

[code]

see: https://codesandbox.io/s/laughing-knuth-odhr7i?file=/src/utils.ts

[2022-11-19 12:59] stychu commented on #53
@mobily Thanks for some examples. I appreciate it ! Yeah the mutable values were my concern mostly :P
Although your example solution seems fine there is one problem with them as they dont give me desired answer.
Problem relies with the reduce continuing the loop always till the end where I need to 'exit' loop whenever first occurrence of sum === -1. With your example if there are multiple occurren

[2022-11-20 18:14] stychu commented on #53
This is the only way I can think of solving this at the moment. It works as I need at least :)

[code]
Thanks for input @mobily

[2022-11-20 18:14] #53 closed

[2022-11-20 22:46] stychu opened #54 "Question: Casting type / infering type"
I'm struggling to understand how to satisfy TypeScript when using ts-belt. Appreciate any help

How do I cast array of numbers from splitting the string?
Is this the right approach of such ?
[code]

or

[code]

![Screenshot 2022-11-21 at 00 46 58](https://user-images.githubusercontent.com/9383657/202933168-c0c4cf28-9ea1-4587-aa54-134e81eb84af.png)

how to handle typing of Option/Result

[2022-11-21 13:46] stychu commented on #54
Clearly I can't wrap my head around how to properly compose functions in order for types to be properly inferred.
What I'm doing wrong here so the types don't cascade properly?

[code]
![Screenshot 2022-11-21 at 14 43 09](https://user-images.githubusercontent.com/9383657/203070637-c45d00d6-a4b5-4a95-b6e3-930046b97f5f.png)

[2022-11-21 15:43] mobily commented on #54
@stychu hello! 👋 I'm not sure why you're using the `Option` data type, since none of the utils you use don't return `Option` (for instance: `S.split`)

the solution for the first code snippet:

[code]

[2022-11-23 02:21] Talent30 commented on #49
same here

[2022-11-25 16:48] khaiquangnguyen commented on #49
@mobily  I can take a look at this if you are too busy at the moment.

[2022-11-28 01:31] scarf005 opened #55 "cannot import individual functions (in vite)"
![image](https://user-images.githubusercontent.com/54838975/204171930-6a68307b-3187-4a80-a9ea-784d336c2d2e.png)

tried solution at #18, but there seems to be problems:

- import doesn't works
- type info doesn't works
- tsconfig paths are handled by https://github.com/aleclarson/vite-tsconfig-paths, but it doesn't work in both vscode and compilation. (please check `main.tsx` to see that it works)

[2022-11-28 08:34] scarf005 opened #56 "is reverse-currying considered idiomatic?"
I was making interchangeable `Pos` and `Size`, and they work like
[code]

but currying didn't work well with `pipe` (since pipe is data-first), I had to do something like this:
[code]

is this considered idiomatic? I see most of `ts-belt`'s (data-first) functions take the same approch, i.e reversed currying, for example [S.concat](https://mobily.github.io/ts-belt/api/string#concat):
[code]

howeve

[2022-11-28 18:31] john-trashlab commented on #44
What if we wanted to use an immutable input as input into a mutable function in the pipeline and thus needed to deep clone the object/array?

ex.

[code]

[2022-11-29 17:35] mobily commented on #49
@khaiquangnguyen @tgillus @Talent30 the issue has been fixed in `v4.0.0-rc.1` 🚀

[2022-11-29 17:35] #49 closed

[2022-11-29 17:35] mobily commented on #52
@icetbr fixed in `v4.0.0-rc.1` 🚀

[2022-11-29 17:35] #52 closed

[2022-11-29 17:36] mobily commented on #54
closing due to inactivity, @stychu feel free to reopen if you need help :)

[2022-11-29 17:36] #54 closed

[2022-11-29 17:44] mobily commented on #55
@scarf005 added in `v4.0.0-rc.1`, keep in mind that all `paths` values are relative to `baseUrl` (docs: https://www.typescriptlang.org/tsconfig#paths), therefore in your case (using the latest version), it should be:

[code]

I will update the docs to cover this case :)

[2022-11-29 17:44] #55 closed

[2022-11-30 01:30] tgillus commented on #49
@mobily That's awesome. I appreciate your work on this library.